# ignore node_modules
/solidity/contracts/node_modules

# add gitignores from ts/artsy-space-fe/.gitignore

# dependencies
/ts/artsy-space/node_modules
/ts/artsy-space/.pnp
/ts/artsy-space/.pnp.js
/ts/artsy-space/.yarn/install-state.gz

# testing
/ts/artsy-space/coverage

# next.js
/ts/artsy-space/.next/
/ts/artsy-space/out/

# production
/ts/artsy-space/build

# misc
/ts/artsy-space/.DS_Store
/ts/artsy-space/*.pem

# debug
/ts/artsy-space/npm-debug.log*
/ts/artsy-space/yarn-debug.log*
/ts/artsy-space/yarn-error.log*

# local env files
/ts/artsy-space/.env*.local

# vercel
/ts/artsy-space/.vercel

# typescript
/ts/artsy-space/*.tsbuildinfo
/ts/artsy-space/next-env.d.ts
