# ignore node_modules
/solidity/contracts/node_modules

# add gitignores from ts/artsy-space-fe/.gitignore

# dependencies
/ts/artsy-space-fe/node_modules
/ts/artsy-space-fe/.pnp
/ts/artsy-space-fe/.pnp.js
/ts/artsy-space-fe/.yarn/install-state.gz

# testing
/ts/artsy-space-fe/coverage

# next.js
/ts/artsy-space-fe/.next/
/ts/artsy-space-fe/out/

# production
/ts/artsy-space-fe/build

# misc
/ts/artsy-space-fe/.DS_Store
/ts/artsy-space-fe/*.pem

# debug
/ts/artsy-space-fe/npm-debug.log*
/ts/artsy-space-fe/yarn-debug.log*
/ts/artsy-space-fe/yarn-error.log*

# local env files
/ts/artsy-space-fe/.env*
/ts/artsy-space-fe/.env.development

# vercel
/ts/artsy-space-fe/.vercel

# typescript
/ts/artsy-space-fe/*.tsbuildinfo
/ts/artsy-space-fe/next-env.d.ts
